<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Login</title>
</head>
<body>
  <a class="nav" href="/register">Register</a>
    <br><br>
 <div>
   
    <form action="/login" method="POST">
    <label for="email">Type in Email</label>
    <input type="text" name="email"/><br>
    <label for="password">Type in password</label>
    <input type="password" name="password"/><br>
   <button id="btn" type="submit">Login</button>
</form>
 </div>
</body>
</html>